.chart_song {
    display: flex;
    align-items: center;
    padding: 1vw 0;
}

.chart_number {
    font-size: 4vw;
    font-weight: 700;
    line-height: 1;
    color: rgba(255, 255, 255, .15);
    width: 25px;
    display: block;
    text-align: center;
    margin-right: 2vw;
    width: fit-content;
}

.chart_cover {
    width: 7vw;
    height: 7vw;
    background-size: contain;
    margin-right: 1vw;
    border-radius: 20px;
}

.chart_next {
    border: 2px solid #fff;
    border-radius: 50px;
    position: sticky;
    height: 3.5vw;
    right: 0;
    font-size: 1vw;
    width: fit-content;
    padding: 1vw;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .section_title {
        font-size: 7vw;
        padding-bottom: 4vw;
    }
    .chart_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .chart_next {
        bottom: -5vw;
        padding: 1vw 4vw;
        font-size: 4vw;
        height: 11vw;
        left: auto;
        right: auto;
    }
    .chart_number {
        font-size: 9vw;
    }
    .chart_cover {
        width: 30vw;
        height: 30vw;
    }
}